/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('bgr2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.profile-container {
    width: 70%;
    margin: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #009688;
    color: #ffffff;
    position: relative;
    background-image: url('hoa.png'); /* Thêm họa tiết hoa lá */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid white;
}

.name {
    font-size: 28px;
    margin-bottom: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info {
    margin: 2px 0;
    font-size: 16px;
}

.info i {
    margin-right: 8px;
}

.social-icons {
    display: flex;
    margin-top: 10px;
}

.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #cfd8dc;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #009688;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #cfd8dc;
}

.content-section {
    padding: 20px;
    border-top: 1px solid #ddd;
    background-color: cornsilk; /* Tone màu nền nhẹ */
    color: #333;
}

.content-section h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #009688;
    position: relative;
}

.content-section h2::after {
    content: "";
    position: absolute;
    right: -40px;
    bottom: -5px;
    width: 30px;
    height: 5px;
    background-color: #009688;
}

.image-container {
    display: flex;
    justify-content: center; /* Căn giữa hình ảnh */
    margin: 10px 0;
}

.university-image,
.interest-image,
.hometown-image {
    width: 600px; /* Giữ kích thước ban đầu của ảnh */
    height: auto;
    border-radius: 8px; /* Cạnh bo cho ảnh */
}

.skill {
    margin: 10px 0;
}

.skill-bar {
    height: 25px;
    border-radius: 5px;
    position: relative;
}

.skill-percentage {
    position: absolute;
    right: 10px;
    top: 2px;
    color: #fff;
    font-weight: bold;
}
